@primaryColor: #20c976;

.heading {
  font-size: 20px;
}
.subHeading {
  font-size: 12px;
}

.mt-10 {
  margin-top: 10px;
}
.pageHeader {
  font-size: 20px;
  font-weight: bold;
  padding: 10px 0 10px 10px;
  border-bottom: 1px solid #ccc;
}
